 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #F67C8B;
active-foreground: #B5EAF4;
normal-background: #181719;
normal-foreground: #B5EAF4;
urgent-background: #9DADE2;
urgent-foreground: #B5EAF4;

alternate-active-background: #7C87B1;
alternate-active-foreground: #B5EAF4;
alternate-normal-background: #181719;
alternate-normal-foreground: #B5EAF4;
alternate-urgent-background: #181719;
alternate-urgent-foreground: #B5EAF4;

selected-active-background: #F67C8B;
selected-active-foreground: #181719;
selected-normal-background: #F67C8B;
selected-normal-foreground: #181719;
selected-urgent-background: #7C87B1;
selected-urgent-foreground: #181719;

background-color: #181719;
background: rgba(0,0,0,0.7);
foreground: #B5EAF4;
border-color: #F67C8B;

color0: #3E3E40;
color1: #181820;
color2: #3D4257;
color3: #5D6685;
color4: #B85D68;
color5: #7682AA;
color6: #2293A7;
color7: #8ED9E7;
color8: #6398A1;
color9: #1F202A;
color10: #525974;
color11: #7C87B1;
color12: #F67C8B;
color13: #9DADE2;
color14: #2DC4DF;
color15: #8ED9E7;


}

